<div class="app-content">
  <div class="group">
  
    <form role="form" (submit)="login()">
       <h2 class="titleL">{{title}}</h2>
       <br>
      <mat-input-container>
        <input matInput type="text" required [(ngModel)]="user.username" id="username" name="username" >
        <mat-placeholder>
          <i class="material-icons app-input-icon">face</i>Username
        </mat-placeholder>
      </mat-input-container><br>
      <mat-input-container>
        <input matInput type="password" required [(ngModel)]="user.password" id="password" name="password" >
        <mat-placeholder >
          <i class="material-icons app-input-icon">lock_open</i>Password
        </mat-placeholder>
      </mat-input-container><br><br>
      <mat-checkbox >Remember me</mat-checkbox><br><br>
      <button mat-raised-button color="warn" type="submit" name="action">LOGIN</button><br><br>
      <span id="err"><small>{{errorMsg}}</small></span>
    </form >
  </div>
</div>



