
.app-content{
  margin: 40px;
  padding: 40px;

}

.headCls {
  width: auto;
  height: auto;
  margin: auto;
  /*padding: 3em 2em 2em 2em;*/
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  border-radius: 11%; 
}

.datecls{
  width: 48%;
}

.datecls1{
  width: 48%;
  margin-left: 3%;
}

.group {
  position: relative;
  margin-bottom: 45px;

}

mat-card{
  min-height: 200px;
}

.mat-fab{
    float: right;
   
}

.divCont {
  display: flex;
  flex-direction: column;
  margin: 4%;
  background-color: #f5f5f5;
  padding: 2%;
  width: 70%;
  margin-left: 12%;
  margin-right: 12%;
  box-shadow: 0px 0px 27px -9px rgba(0,0,0,0.75);
}

.divCont > * {
  width: 100%;
}

.addBtn{
  text-align: center;
  margin-top: 2%;
}

.addBtn1{
  text-align: center;
  margin-top: 5%;
}

.fileUpl{
  margin-top: 10px;
  margin-bottom: 10px;
}

.divCont1 {
   display: flex;
   text-align: center;
  flex-direction: column;
  margin: 4%;
  background-color: #f5f5f5;
  padding: 2%;
  box-shadow: 0px 0px 27px -9px rgba(0,0,0,0.75);
}

.divCont1 > * {
  width: 100%;
}

.userCls{
  text-align: center;
  font-size: 20px;
}

.userCls1{
  margin-top: 10px;
}

.userCls2{
  margin-top: -30px;
}

.pTag{
  margin-left: 5%;
}



.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  }

.featured {
  background: #3F51B5;
  color: #ffffff;
  padding: 3rem; }
  .featured h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    font-weight: 300; }
  .featured h2 {
    font-weight: 300;
    margin-bottom:.5rem
  }
  .featured img {
    display: block; }

.flex-card {
 
  flex-basis:250px;
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  margin: .5rem;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .flex-card div {
    flex: 100%; }
  .flex-card .hero {
    position: relative;
    color: #ffffff;
    height: 80px;
    background: linear-gradient(60deg, #ff4081, #773FEF);
    background-size: cover; }
    .flex-card .hero h3 {
      position: absolute;
      bottom: 15px;
      left: 0;
      padding: 0; 
      text-align: center;
      width: 100%;
    }
  .flex-card .content {
    color: #555;
    text-align: center;
    padding: 1.5rem 1rem  2rem 1rem; }
  .flex-card .footer {
    color: #0097A7;
    padding: 1rem;
    border-top: 1px solid #eee;
    align-self: flex-end;
    font-size: 1rem; }
  .flex-card img {
    display: inline-block;
    width: 32px; }

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.btncls1{
  border-radius: 5px;
}