
<div class="app-content">
  <div class="group">
    <div class="headCls">
      <div class="app-action userCls1">
        <div class="userCls">Welcome John P</div>
        <button mat-fab (click)="logout()" title="Sign Out" class="userCls2"><mat-icon>exit_to_app</mat-icon></button>
      </div><br><br>
      <mat-card>
      <mat-card-content>
        <button mat-raised-button class="btncls1" color="accent" (click)="homePage()">
          <mat-icon>home</mat-icon> Home
        </button>

        <button mat-raised-button class="btncls1" color="accent" [matMenuTriggerFor]="campaign">
          Campaigns
        </button>
        <mat-menu #campaign="matMenu">
          <button mat-menu-item (click)="addCampaign()">
           <!--  <mat-icon>note_add</mat-icon> -->
            <span>Add Campaign</span>
          </button>
          <!-- <button mat-menu-item (click)="listCampaign()">
            <mat-icon>mode_edit</mat-icon>
            <span>Campaign List</span>
          </button> -->
          <button mat-menu-item (click)="modfyCampaign()">
            <!-- <mat-icon>file_upload</mat-icon> -->
            <span>Modify Campaign</span>
          </button>
        </mat-menu>
       
        <button mat-raised-button class="btncls1" color="accent" [matMenuTriggerFor]="menu">
          Purchase
        </button>
         <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="addPurchase()">
           <!--  <mat-icon>note_add</mat-icon> -->
            <span>Add Purchase Record</span>
          </button>
          <button mat-menu-item (click)="purchaseItem()">
            <!-- <mat-icon>mode_edit</mat-icon> -->
            <span>Purchase</span>
          </button>
          <button mat-menu-item (click)="editPurchase()">
            <!-- <mat-icon>mode_edit</mat-icon> -->
            <span>Edit/Delete Purchase Item</span>
          </button>
        </mat-menu>
        
        <button mat-raised-button class="btncls1" color="accent" [matMenuTriggerFor]="report">
          Reports
        </button>
        <mat-menu #report="matMenu">
          <button mat-menu-item (click)="dailyReport()">
           <!--  <mat-icon>note_add</mat-icon> -->
            <span>Daily</span>
          </button>
          <button mat-menu-item (click)="weeklyReport()">
            <!-- <mat-icon>mode_edit</mat-icon> -->
            <span>Weekly</span>
          </button>
          <button mat-menu-item (click)="campReport()">
            <!-- <mat-icon>file_upload</mat-icon> -->
            <span>Campaign</span>
          </button>
        </mat-menu>

        <div *ngIf="addPurchaseDiv">
              <form name="purchaseForm" role = "form" (submit)="addPurchaseBtn()">
                <div class="addPurchaseDiv-container divCont">
                    <mat-form-field>
                      <mat-select name="campaignName" matInput placeholder="Please Select Campaign" required>
                        <mat-option value="A">Campaign A</mat-option>
                        <mat-option value="B">Campaign B</mat-option>
                        <mat-option value="c">Campaign C</mat-option>
                        <mat-option value="d">Campaign D</mat-option>
                        <mat-option value="e">Campaign E</mat-option>
                        <mat-option value="f">Campaign F</mat-option>
                        <mat-option value="g">Campaign G</mat-option>
                        <mat-option value="h">Campaign H</mat-option>
                        <mat-option value="0">Create New Campaign</mat-option>
                      </mat-select>
                    </mat-form-field>
                        
                    <mat-form-field>
                        <input matInput placeholder="Product Id" required="true">
                    </mat-form-field>
                        
                    <mat-form-field>
                        <input matInput placeholder="Quantity" required="true">
                    </mat-form-field>
                        
                    <mat-form-field>
                      <input matInput placeholder="Amazon Username" required="true">
                    </mat-form-field>

                    <mat-form-field>
                      <textarea matInput placeholder="Shipping Details" rows="5" required="true"></textarea>
                    </mat-form-field>
     
                    <div class = "addBtn">
                      <button mat-raised-button class="btncls1" color="primary" type="submit" name="action" ng-click="addPurchaseBtn()">Add Record</button>
                    </div>      
              </div> 
            </form> 
        </div>

        <div *ngIf="purchaseDiv">
          <div class="addPurchaseDiv-container divCont1">
              
              <mat-tab-group class="campaign-tab-group">
                <mat-tab label="Campaign 1">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings1" [source]="data1" (custom)="onCustom($event)"></ng2-smart-table>
                    <div class = "addBtn">
                      <button mat-raised-button class="btncls1" color="primary" type="submit" name="action" ng-click="addPurchaseBtn()">Purchase All</button>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Campaign 2">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings1" [source]="data1" (custom)="onCustom($event)"></ng2-smart-table>
                    <div class = "addBtn">
                      <button mat-raised-button class="btncls1" color="primary" type="submit" name="action" ng-click="addPurchaseBtn()">Purchase All</button>
                    </div>
                  </div>  
                </mat-tab>
                <mat-tab label="Campaign 3">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings1" [source]="data1" (custom)="onCustom($event)"></ng2-smart-table>
                    <div class = "addBtn">
                      <button mat-raised-button class="btncls1" color="primary" type="submit" name="action" ng-click="addPurchaseBtn()">Purchase All</button>
                    </div>
                  </div>   
                </mat-tab>
                <mat-tab label="Campaign 4">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings1" [source]="data1" (custom)="onCustom($event)"></ng2-smart-table>
                    <div class = "addBtn">
                      <button mat-raised-button class="btncls1" color="primary" type="submit" name="action" ng-click="addPurchaseBtn()">Purchase All</button>
                    </div>
                  </div>  
                </mat-tab>
                <mat-tab label="Campaign 5">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings1" [source]="data1" (custom)="onCustom($event)"></ng2-smart-table>
                    <div class = "addBtn">
                      <button mat-raised-button class="btncls1" color="primary" type="submit" name="action" ng-click="addPurchaseBtn()">Purchase All</button>
                    </div>
                  </div> 
                </mat-tab>
                <mat-tab label="Campaign 6">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings1" [source]="data1" (custom)="onCustom($event)"></ng2-smart-table>
                    <div class = "addBtn">
                      <button mat-raised-button class="btncls1" color="primary" type="submit" name="action" ng-click="addPurchaseBtn()">Purchase All</button>
                    </div>
                  </div> 
                </mat-tab>
                <mat-tab label="Campaign 7">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings1" [source]="data1" (custom)="onCustom($event)"></ng2-smart-table>
                    <div class = "addBtn">
                      <button mat-raised-button class="btncls1" color="primary" type="submit" name="action" ng-click="addPurchaseBtn()">Purchase All</button>
                    </div>
                  </div> 
                </mat-tab>
                <mat-tab label="Campaign 8">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings1" [source]="data1" (custom)="onCustom($event)"></ng2-smart-table>
                    <div class = "addBtn">
                      <button mat-raised-button class="btncls1" color="primary" type="submit" name="action" ng-click="addPurchaseBtn()">Purchase All</button>
                    </div>
                  </div> 
                </mat-tab>
                <mat-tab label="Campaign 9">
                 <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings1" [source]="data1" (custom)="onCustom($event)"></ng2-smart-table>
                    <div class = "addBtn">
                      <button mat-raised-button class="btncls1" color="primary" type="submit" name="action" ng-click="addPurchaseBtn()">Purchase All</button>
                    </div>
                  </div> 
                </mat-tab>
                <mat-tab label="Campaign 10">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings1" [source]="data1" (custom)="onCustom($event)"></ng2-smart-table>
                    <div class = "addBtn">
                      <button mat-raised-button class="btncls1" color="primary" type="submit" name="action" ng-click="addPurchaseBtn()">Purchase All</button>
                    </div>
                  </div> 
                </mat-tab>
                <mat-tab label="Campaign 11">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings1" [source]="data1" (custom)="onCustom($event)"></ng2-smart-table>
                    <div class = "addBtn">
                      <button mat-raised-button class="btncls1" color="primary" type="submit" name="action" ng-click="addPurchaseBtn()">Purchase All</button>
                    </div>
                  </div> 
                </mat-tab>
                <mat-tab label="Campaign 12">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings1" [source]="data1" (custom)="onCustom($event)"></ng2-smart-table>
                    <div class = "addBtn">
                      <button mat-raised-button class="btncls1" color="primary" type="submit" name="action" ng-click="addPurchaseBtn()">Purchase All</button>
                    </div>
                  </div> 
                </mat-tab>
              </mat-tab-group>
          </div>
        </div>

        <div *ngIf="editPurchaseDiv">
          <div class="addPurchaseDiv-container divCont1">
              
              <mat-tab-group class="campaign-tab-group">
                <mat-tab label="Campaign 1">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings2" [source]="data1" ></ng2-smart-table>
                  </div>
                </mat-tab>
                <mat-tab label="Campaign 2">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings2" [source]="data1" ></ng2-smart-table>
                  </div>  
                </mat-tab>
                <mat-tab label="Campaign 3">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings2" [source]="data1" ></ng2-smart-table>
                  </div>   
                </mat-tab>
                <mat-tab label="Campaign 4">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings2" [source]="data1" ></ng2-smart-table>
                  </div>  
                </mat-tab>
                <mat-tab label="Campaign 5">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings2" [source]="data1" ></ng2-smart-table>
                  </div> 
                </mat-tab>
                <mat-tab label="Campaign 6">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings2" [source]="data1" ></ng2-smart-table>
                  </div> 
                </mat-tab>
                <mat-tab label="Campaign 7">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings2" [source]="data1" ></ng2-smart-table>
                  </div> 
                </mat-tab>
                <mat-tab label="Campaign 8">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings2" [source]="data1" ></ng2-smart-table>
                  </div> 
                </mat-tab>
                <mat-tab label="Campaign 9">
                 <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings2" [source]="data1" ></ng2-smart-table>
                  </div> 
                </mat-tab>
                <mat-tab label="Campaign 10">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings1" [source]="data1" ></ng2-smart-table>
                    <div class = "addBtn">
                      <button mat-raised-button class="btncls1" color="primary" type="submit" name="action" ng-click="addPurchaseBtn()">Purchase All</button>
                    </div>
                  </div> 
                </mat-tab>
                <mat-tab label="Campaign 11">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings1" [source]="data1" (custom)="onCustom($event)"></ng2-smart-table>
                    <div class = "addBtn">
                      <button mat-raised-button class="btncls1" color="primary" type="submit" name="action" ng-click="addPurchaseBtn()">Purchase All</button>
                    </div>
                  </div> 
                </mat-tab>
                <mat-tab label="Campaign 12">
                  <div class="campaign-tab-content">
                    <ng2-smart-table [settings]="settings1" [source]="data1" (custom)="onCustom($event)"></ng2-smart-table>
                    <div class = "addBtn">
                      <button mat-raised-button class="btncls1" color="primary" type="submit" name="action" ng-click="addPurchaseBtn()">Purchase All</button>
                    </div>
                  </div> 
                </mat-tab>
              </mat-tab-group>
          </div>
        </div>


        <div *ngIf="homeDiv">
              <div class="flex-container animated zoomIn">
                  <div class="flex-card">
                    <div class="hero">
                      <h3>Campaign A</h3>
                    </div><!--End of Hero-->

                    <div class="content">
                      <p>Purchased Item: 20</p>
                      <p>Pending Item: 20</p>
                      <p>Total Item: 20</p>
                    </div>
                  </div>

                  <div class="flex-card">
                    <div class="hero">
                      <h3>Campaign B</h3>
                    </div>

                    <div class="content">
                      <p>Purchased Item: 20</p>
                      <p>Pending Item: 20</p>
                      <p>Total Item: 20</p>
                    </div>
                  </div>
                  <div class="flex-card">
                    <div class="hero">
                      <h3>Campaign B</h3>
                    </div>

                    <div class="content">
                      <p>Purchased Item: 20</p>
                      <p>Pending Item: 20</p>
                      <p>Total Item: 20</p>
                    </div>
                  </div>
                  <div class="flex-card">
                    <div class="hero">
                      <h3>Campaign B</h3>
                    </div>

                    <div class="content">
                      <p>Purchased Item: 20</p>
                      <p>Pending Item: 20</p>
                      <p>Total Item: 20</p>
                    </div>
                  </div>
                  <div class="flex-card">
                    <div class="hero">
                      <h3>Campaign B</h3>
                    </div>

                    <div class="content">
                      <p>Purchased Item: 20</p>
                      <p>Pending Item: 20</p>
                      <p>Total Item: 20</p>
                    </div>
                  </div>
                 <div class="flex-card">
                    <div class="hero">
                      <h3>Campaign B</h3>
                    </div>

                    <div class="content">
                      <p>Purchased Item: 20</p>
                      <p>Pending Item: 20</p>
                      <p>Total Item: 20</p>
                    </div>
                  </div>
            </div>
        </div>

        <div *ngIf="addCampaignDiv">
            <form name="campaignForm" action="#">
                <div class="addPurchaseDiv-container divCont">
                    <mat-form-field>
                      <input matInput placeholder="Campaign Name" required="true">
                    </mat-form-field>
                        
                    <div layout-gt-lg="row">
                      <mat-input-container class= "datecls">
                        <input matInput [matDatepicker]="picker1" placeholder="Campaign Start Date (mm/dd/yyyy)" required="true">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                      </mat-input-container>

                      <mat-input-container class= "datecls1">
                        <input matInput [matDatepicker]="picker" placeholder="Campaign End Date (mm/dd/yyyy)" required="true">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                      </mat-input-container>
                    </div>
                        
                    <mat-form-field>
                        <input matInput placeholder="Order Per Week" required="true">
                    </mat-form-field>
                        
                    <mat-form-field>
                        <input matInput placeholder="Max Order Per Day" required="true">
                    </mat-form-field>
                        
                    <mat-form-field>
                      <input matInput placeholder="Hours Sale" required="true">
                    </mat-form-field>

                    <div class="fileUpl">
                      <span>Select File to upload purchase records</span> <input class="pTag" id="fileInput" type="file" >
                    </div>
     
                    <div class = "addBtn">
                      <button mat-raised-button class="btncls1" color="primary" type="submit" name="action">Add Campaign</button>
                    </div>      
              </div> 
            </form>
        </div>

        <div *ngIf="modifyCampaignDiv">
          <div class="addPurchaseDiv-container divCont1">
            <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
          </div>
        </div>

        <div *ngIf="dailyRecordDiv">Result daily record Found</div>

        <div *ngIf="weeklyRecordDiv">Result weekly record Found</div>

        <div *ngIf="campaignRecordDiv">Result campaign record Found</div>

      </mat-card-content>
  </mat-card>
    </div>
  </div>
</div>
